<h1> LOGIN </h1>

<main>
<div class="box">

<%= form_tag "/handle_login" do %>

    <p><b><%= label_tag :username, "Enter Username" %></b></p>
    <p><%= text_field_tag :username %></p>
    <br>

    <p><b><%= label_tag :password, "Password" %></b></p>
    <p><%= password_field_tag :password %></p>
    <br><br>

    <%= submit_tag "Login" %>
    <br>
</div>
    
    <p><%= link_to "New User?", create_account_path %><p>

<% end %>

</main>