
<h1> CREATE ACCOUNT </h1>

<main>
    <div class="form">
    <%= form_for @new_user do |f| %>

        <p><b><%= f.label :username, "Enter Username" %></b></p>
        <p><%= f.text_field :username %></p>
        <br>

        <p><b><%= f.label :password, "Enter Password" %></b></p>
        <p><%= f.password_field :password %></p>
        <br>

        <p><b><%= f.label :first_name, "Enter First Name" %></b></p>
        <p><%= f.text_field :first_name %></p>
        <br><

        <p><b><%= f.label :last_name, "Enter Last Name" %></b></p>
        <p><%= f.text_field :last_name %></p>
        <br><br>

        <p><b><%= f.label :email, "Enter Email" %></b></p>
        <p><%= f.text_field :email %></p>
        <br>

       <p> <%= f.submit "✩ create ✩" %> </p>

    <% end %>
    </div>

</main>