
<h1> CREATE ACCOUNT </h1>

    <%= form_for @new_user do |f| %>

        <%= f.label :username, "Enter Username" %>
        <%= f.text_field :username %>

        <%= f.label :password, "Enter Password" %>
        <%= f.password_field :password %>

        <%= f.label :first_name, "Enter First Name" %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name, "Enter Last Name" %>
        <%= f.text_field :last_name %>

        <%= f.label :email, "Enter Email" %>
        <%= f.text_field :email %>

        <%= f.submit "Done" %>

    <% end %>