<h1> <%= @current_user.name %> PROFILE </h1>

<p> ITINERARY: </p>
<hr>

Thursday: <% @current_user.find_by_thursday.each do |place| %>
   
    
            <%= place %>
        <% byebug %>
        <% end %>
        
<hr>

Friday: <% @current_user.find_by_day("Friday").each do |place| %>
   
    
    <%= place %>

<% end %>
<hr>

Saturday: <% @current_user.find_by_day("Saturday").each do |place| %>
   
    
    <%= place %>

<% end %>
<hr>


<%= link_to "invite" %>
<br>
<%= link_to "search places", search_form_path %>




