<h1> <%= @current_user.name %> PROFILE </h1>

<p> 

ITINERARY:
    <% @collections.each do |collection| %>
        <%= collection.name %> <br>
        
        <% collection.places.each do |place| %> 
            <%= place.name %> <br>
        
            <% end %>

    <% end %>

</p>

<%= link_to "invite" %>
<%= link_to "search places", search_form_path %>




