<h1> <%= @current_user.name %> PROFILE </h1>

<p> ITINERARY: </p>
<hr>

<h3>Thursday: </h3><% @current_user.find_by_day("Thursday").each do |place| %>
   
    
            <p><%= place %></p>
        
        <% end %>
        
<hr>

<h3>Friday: </h3><% @current_user.find_by_day("Friday").each do |place| %>
   
    
    <p><%= place %></p>

<% end %>

<hr>

<h3>Saturday: </h3><% @current_user.find_by_day("Saturday").each do |place| %>
   
    
    <p><%= place %></p>

<% end %>

<hr>


<%= link_to "invite" %>
<br>
<%= link_to "search places", search_form_path %>




