<h1> <%= @place.name %> </h1>

<h2> Address: <%= @place.address %>, <%= @place.city %>, <%= @place.state %></h2>
<h4> <%= link_to "Website", @place.url %></h4>
<%= image_tag @place.img_url, height: 500, width: 450 %>
<h5> ✩Rating: <%= @place.rating %>✩</h5>


<%= form_tag create_place_path do %>
    <%= label_tag "Choose Day" %>
    <%= text_field_tag :name %>

    <%= label_tag "Choose Collection" %>
    <%= collection_select(:collection, :collection_id, @collections, :id, :name) %>

    <%= submit_tag "Add place" %>

<% end %>

<%= link_to "profile page", user_profile_path(@current_user)%>
<%= link_to "continue browsing", search_form_path %>

